/* workaround for firefox to display the logo */
.site-header .navbar-brand > img {
	height: 100%;
}

/* set navbar to static for now. If JS is enabled, we will revert to fixed in
 * custom.js, but if JS isn't enabled a fixed header overlaps the content. */
.site-header.sticky .navbar {
    position: static;
}

article.main-content {
	padding-top: 0;
}

body, h1,h2,h3,h4,h5,h6 {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h2 a:after {
	background-color: transparent;
}

.banner.auto-size {
	background-color: #62a8ea;
	padding-top: 40px;
}

p.since::before {
	content: "Since ";
}
p.since {
	font-size: 16px;
}

/* adjustment to code example sections so they are more readable */
pre[class*="language"], pre code[class*="language"] {
	text-shadow: none;
	color: #808080;
}
pre code .token.operator, pre code[class*="operator"] {
	background: inherit;
}
.clipboard-copy {
	top: 6px !important;
	right: 8px;
	color: #808080;
	background-color: transparent;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 600;
	opacity: 1;
	padding: 2px 5px;
}
pre .language-name {
	right: 75px;
}
