on: [push, pull_request]
name: Build
permissions:
  contents: read
jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: v2.9.0
  build:
    runs-on: ubuntu-latest
    needs: ["golangci"]
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Install Go
        uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'
          check-latest: true
          cache: true
      - name: Set Hosts
        run: |
          echo "127.0.0.1	example.com example2.com" | sudo tee -a /etc/hosts
      - name: Test
        run: |
          export PATH=$PATH:$HOME/bin:$HOME/go/bin
          make github
